html {
  background: bisque;
}

.text-center {
	text-align: center;
  color: black;
  font-size: 28px;
  font-family: 'Nanum Brush Script', 'cursive';
}

.plus-box {
	width: 100px;
	height: 100px;
	min-width: 100px;
	min-height: 100px;
	border: solid 1px #707070;
	font-size: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 24px;
  cursor: pointer;
  color: black;
}

.gallery-box {
	display: flex;
	align-items: center;
  flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	gap: 80px;
}

.row {
	flex-direction: row;
	gap: 100px;
	width: 100%;
	justify-content: center;
	padding: 0 140px;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-box {
  padding-top: 20px;
	width: 150px;
	height: 150px;
	min-width: 150px;
	min-height: 150px;
  flex: 1 0 15%;
}

.image-box img{
	width: 180px;
	height: 180px;
}

input {
	display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: block;
  max-width: 700px;
  padding: 20px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #eee;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #696969;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
	.gallery-box {
		gap: 40px;
	}

	.row {
		padding: 0 40px;
	}
}